.a {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.a .div {
  background-color: #ffffff;
  width: 595px;
  height: 842px;
  position: relative;
}

.a .overlap {
  position: absolute;
  width: 548px;
  height: 379px;
  top: 119px;
  left: 30px;
}

.a .we-just-need-a-few {
  position: absolute;
  width: 196px;
  height: 80px;
  top: 137px;
  left: 136px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #225288;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}

.a .text-wrapper {
  font-weight: 500;
}

.a .span {
  font-weight: 800;
  text-decoration: underline;
}

.a .overlap-group {
  position: absolute;
  width: 548px;
  height: 379px;
  top: 0;
  left: 0;
}

.a .p {
  position: absolute;
  width: 423px;
  height: 72px;
  top: 307px;
  left: 0;
  font-family: "Ogg Text-Medium", Helvetica;
  font-weight: 500;
  color: #225288;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.a .text-wrapper-2 {
  position: absolute;
  width: 391px;
  top: 243px;
  left: 0;
  font-family: "Ogg Text-Medium", Helvetica;
  font-weight: 500;
  color: #f86b1c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.a .NFO-invite {
  position: absolute;
  width: 192px;
  height: 337px;
  top: 0;
  left: 356px;
}

.a .dear-name-we-are {
  position: absolute;
  width: 332px;
  top: 4px;
  left: 0;
  font-family: "Ogg Text-Medium", Helvetica;
  font-weight:400;
  color: #225288;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.a .group {
  position: absolute;
  width: 116px;
  height: 113px;
  top: 112px;
  left: 0;
}

.a .overlap-group-2 {
  position: relative;
  width: 114px;
  height: 113px;
}

.a .rectangle {
  position: absolute;
  width: 114px;
  height: 109px;
  top: 4px;
  left: 0;
  border-radius: 10px;
  border: 1px solid;
  border-color: #98c0dd;
}

.a .rectangle-2 {
  position: absolute;
  width: 100px;
  height: 93px;
  top: 13px;
  left: 7px;
  border-radius: 10px;
  border: 1.5px solid;
  border-color: #96aac5;
}

.a .rectangle-3 {
  position: absolute;
  width: 96px;
  height: 11px;
  top: 1px;
  left: 9px;
  background-color: #ffffff;
}

.a .text-wrapper-3 {
  position: absolute;
  height: 9px;
  top: 0;
  left: 12px;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: #225288;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.a .image {
  position: absolute;
  width: 85px;
  height: 86px;
  top: 17px;
  left: 15px;
}

.a .text-wrapper-4 {
  position: absolute;
  width: 311px;
  height: 38px;
  top: 777px;
  left: 142px;
  opacity: 0.85;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #225288;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.a .over-students {
  position: absolute;
  width: 356px;
  height: 38px;
  top: 723px;
  left: 120px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #225288;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.a .will-your-child-be {
  position: absolute;
  width: 399px;
  top: 31px;
  left: 30px;
  font-family: "Ogg Text-Bold", Helvetica;
  font-weight: 700;
  color: #225288;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 35px;
}

.a .group-wrapper {
  position: absolute;
  width: 518px;
  height: 170px;
  top: 525px;
  left: 30px;
}

.a .group-2 {
  position: relative;
  height: 170px;
}

.a .frame {
  left: 0;
  position: absolute;
  width: 147px;
  height: 169px;
  top: 0;
}

.a .img {
  left: 186px;
  position: absolute;
  width: 147px;
  height: 169px;
  top: 0;
}

.a .frame-2 {
  position: absolute;
  width: 147px;
  height: 169px;
  top: 0;
  left: 371px;
}

.a .group-3 {
  position: absolute;
  width: 126px;
  height: 56px;
  top: 32px;
  left: 445px;
}
